*/15 * * * * /orcd/data/dandi/001/dandi-compute/submitter/launcher/dispatch_github_action_cron.sh >> /orcd/data/dandi/001/dandi-compute/tmp/logs/dispatch_github_action_cron.log 2>&1
*/1 * * * * /bin/bash -l -c 'flock -n /orcd/data/dandi/001/dandi-compute/flocks/monitor.lock -c "/orcd/data/dandi/001/dandi-compute/submitter/launcher/guarded-submit -- sbatch --output /dev/null --error=/dev/null /orcd/data/dandi/001/dandi-compute/submitter/launcher/launch_monitor.sh" || echo "$(date): lock held, skipping submit"' > /dev/null 2>&1

# For whatever reason, this particular job is sensitive to the usage of `/bin/bash -l` in order to 'behave properly'. Otherwise the SLURM job does run, the self-hosted runner is active, but the conda init does not trigger and so no environment is found.
*/1 * * * * /bin/bash -l -c 'flock -n /orcd/data/dandi/001/dandi-compute/flocks/submitter.lock -c "/orcd/data/dandi/001/dandi-compute/submitter/launcher/guarded-submit -- sbatch --output /dev/null --error=/dev/null /orcd/data/dandi/001/dandi-compute/submitter/launcher/launch_submitter.sh" || echo "$(date): lock held, skipping submit"' > /dev/null 2>&1

# Backup processes
0 22 * * * flock -n /orcd/data/dandi/001/backup/flocks/backup_blobs_batch.lock sbatch --output /dev/null --error=/dev/null /orcd/data/dandi/001/backup/simple-s3-backup/scripts/backup_blobs_batch_deployment.sh
#0 19 * * 0,3 flock -n /orcd/data/dandi/001/backup/flocks/backup_zarr_batch.lock sbatch --output /dev/null --error=/dev/null /orcd/data/dandi/001/backup/simple-s3-backup/scripts/backup_zarr_batch_deployment.sh  # Zarr was disabled in May 2026
0 18 * * * flock -n /orcd/data/dandi/001/backup/flocks/backup_nonblobs.lock sbatch --output /dev/null --error=/dev/null /orcd/data/dandi/001/backup/simple-s3-backup/scripts/backup_nonblobs_deployment.sh
0 6 * * * flock -n /orcd/data/dandi/001/backup/flocks/update_dashboard.lock sbatch --output /dev/null --error=/dev/null /orcd/data/dandi/001/backup/simple-s3-backup/scripts/update_dashboard.sh
0 0 * * * sbatch --output /dev/null --error=/dev/null ~/cleanup_blobs_001.sh
0 0 * * * sbatch --output /dev/null --error=/dev/null ~/cleanup_blobs_002.sh
